//  VARIABLES
$listColor: #cecece;
$textColor: #000;

ul {
    
    background-color: $listColor;
    margin: 10px;
    padding: 5px;

    li {

        color: $textColor;
        margin: 10px;

    }

}